{
    auto_https off
}

:80 {
    root * /app
    encode gzip

    handle /ir-a-* {
        uri strip_prefix /ir-a-
        reverse_proxy {uri} {
            header_up Host {upstream_hostport}
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-Proto http

            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    file_server
}
