:80 {
    root * /srv
    encode gzip

    # Configuración Proxy Básica y Funcional
    handle /ir-a-* {
        uri strip_prefix /ir-a-
        
        reverse_proxy {uri} {
            # Cabeceras esenciales solo
            header_up Host {upstream_hostport}
            header_up X-Forwarded-Proto https

            # Configuración de conexión segura
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    # Servir archivos
    file_server
}
